.App {
  text-align: center;
}

.App-header {
  background-image: url("./img/banner.png");
  height: 120px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat:no-repeat;
  background-size: cover;
}

.form {
  margin-top: 50px;
}

input[type="text"] {
  padding: 10px;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid #000;
  box-shadow: 1px 4px 10px #fff;
  box-shadow: 1px 4px 10px #fff;
}

button {
  padding: 10px;
  font-size: 20px;
  margin-top: 0px;
  background-color: #000;
  color: white;
  border: 2px solid #000;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  box-shadow: 1px 4px 10px #fff;
}

button:hover {
  background-color: #52d9ff;
}

.todoForm {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
}

.button {
  width: 70px;
  font-size: 9px;
  border: none;
  border-radius: 5px;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style-type:none;
  color: #333;
  background-color: rgba(255,255,255,.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 450px;
  height: auto;
  overflow: auto;
}

.list {
  display: inline-block;
}

.filters {
  background-color: transparent;
  box-shadow: none;
}

.filters li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px
}

li a:hover {
    color: white;
}

a {
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  color: black;
  width: 100px;
  padding: 10px;
}

.list-box {
  margin-top: 50px;
  width: 500px;
}

.right {
  float: right;
  width: 190px;
  margin-left: 20px;
}

.left {
  width: 240px;
  float: left;
  text-align: left;
  padding-left: 10px;
}

.left-tab {
  font-weight: bold;
  float: left;
  margin-bottom: 20px;
  color: white
}

.right-tab {
  font-weight: bold;
  float: right;
  margin-bottom: 20px;
  color: white
}

.tab-filter {
  float: right;
}

.complete:hover {
  background-color: #99ff33;
}

.remove:hover {
  background-color: #ff9999;
}

#task-complete {
  text-decoration: line-through;
}